body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
}

.items {
  margin: auto;
  max-width: 500px;
}

.item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 15px;
}

.item a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

div#apiurl {
  margin-bottom: 20px;
}